<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>
            Linear Regression
        </title>
    </head>
    <body>
        <h1>Medical Insurance Charges Predictor</h1>
        <form class="userinput" action="/" method="post">
            <label for = "age">AGE </label><br>
            <input type ="number" id ="age"  name="age"/><br>
            <label for="sex"> SEX </label><br>
            <input type ="text" id ="sex"  name="sex"/><br>
            <label for="bmi">BMI </label><br>
            <input type ="number" id ="bmi"  name="bmi"/><br>
            <label for="children"> CHILDREN </label><br>
            <input type ="number" id ="children"  name="children"/><br>
            <label for="smoker"> SMOKER </label><br>
            <input type ="text" id ="smoker" name="smoker"/><br>
            <label for="region"> REGION </label><br>
            <input type ="text" id ="region" name="region"/><br>
            <br>
            <input type="submit" name="Submit" />
        </form>
        
        <div class="alert" value="0">
            YOUR MEDICAL INSURANCE CHARGES IS RS. {{result}}
        </div>
        </form>
        

        
        
    </body>
</html>